### Contents
#### Importing libraries
#### Importing data sets
#### Merging dataframes
#### Inner join
#### Saving as pkl

## Importing Libraries

In [1]:
#import libraries
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np
import os

In [2]:
path = r'/Users/davidmsimpson/20230907 Instacart Basket Analysis'

In [3]:
# Import df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
# Import df_ords
df_ords = pd.read_csv(r'/Users/davidmsimpson/20230907 Instacart Basket Analysis/02 Data/Prepared Data/orders_wrangled.csv', index_col = False)

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.shape

(32434489, 4)

### Merging dataframes

In [7]:
# Merging df_ords and df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [8]:
df_merged_large.head()

   Unnamed: 0.1  Unnamed: 0  order_id  user_id  order_number  order_day_of_week  order_hour_of_day  days_since_prior_order  new_customer  product_id  add_to_cart_order  reordered _merge
0             0           0   2539329        1             1                  2                  8                     NaN             1         196                  1          0   both
1             0           0   2539329        1             1                  2                  8                     NaN             1       14084                  2          0   both
2             0           0   2539329        1             1                  2                  8                     NaN             1       12427                  3          0   both
3             0           0   2539329        1             1                  2                  8                     NaN             1       26088                  4          0   both
4             0           0   2539329        1             1                  2                  8                     NaN             1       26405                  5          0   both

In [9]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [10]:
# With how = 'outer'
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [11]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [12]:
# Merging df_ords and df_ords_prior with inner join
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))